
<% albums_in_stock = [] %>
<% for records in @album %>
<% albums_in_stock.push(records) %>
<% end %>
<p>There are <%= albums_in_stock.count %> albums in stock right now.</p>

 


<% @album.each do |album| %>
<div class="album-container">
<ul>
 <p><div id="album-item">Album Title: <%= album.title%></div></p>
<p><div id="album-item">Artist: <%= album.artist%></div></p>
<p><div id="album-item">Genre: <%= album.genre %></div></p>
<p><div id="album-item">Quantity in Stock: <%= album.quantity%></div></p>
<hr/></ul>

</div>
<% end %>

