<h1>Stock Levels</h1>

<div class="album-container">
<h3> The following items are currently running low in stock:</h3>
</div>
<div class="album-container-item">
<% for album in @albums %>
<% if album.quantity <= 2 %>
<%= album.title%> -
<em><%= album.artist.name%>:</em>
<%= album.quantity%><br>

<%end %>
<%end %>
</div>
<div class="album-container">
<h3>The following items are at a medium level:</h3>
</div>
<div class="album-container-item">
<% for album in @albums %>
<% if album.quantity <= 5 && album.quantity > 2 %>
<%= album.title%> -
<em><%= album.artist.name%>:</em>
<%= album.quantity%><br>

<%end %>
<%end %>
</div>
<div class="album-container">
<h3>The following items are at a high level:</h3>
</div>
<div class="album-container-item">
<% for album in @albums %>
<% if album.quantity > 5 %>
<%= album.title%> -
<em><%= album.artist.name%>:</em>
<%= album.quantity%><br>

<%end %>
<%end %>
</div>





